
@import "~bootstrap/scss/bootstrap";

.wrapper {
    @extend .col-lg-4;
    // @extend .col-md-12;
    position: fixed;
    right: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;


    .form {
        display: flex;
        flex-direction: column;
    }

}
.wrapper__edit {
    @extend .col-lg-6;
    // @extend .col-md-12;

    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    .form {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1020px) {

    .wrapper {
        // @extend .col-md-12;
        // position: absolute;
        // right: unset;
        // flex-direction: column;
        // align-items: center;
        // padding-top: 20px;
        // padding-bottom: 20px;
        // background: #fff;
        // max-width: 100%;
    }
}