.wrapper {
    .thumb {
        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                background: url("../../assets/images/member-thumb.png");
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                border: 3px solid #167efb
            }
        }
    }
}