
@import "~bootstrap/scss/bootstrap";


.wrapper{
    padding-top: 20px;

    &_customers {
        @extend .wrapper;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__edit {
            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }

    }

    &_invoices {
        @extend .wrapper;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__edit {
            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

    }

}

