.list-item__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;

    .list-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size:18px;
        font-weight: bold;
        width: 100%;
        // &__image {
        //     width: 60px;
        // }
        &__name {
    
        }
        &__email {
    
        }
        &__gender {
    
        }
        &__action {
    
        }
    }

}