.wrapper {
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    &__thumb {
        display: flex;
        flex-direction: column;;
        justify-content: center;
        align-items: center;
    }


}