@import "~bootstrap/scss/bootstrap";

.wrapper {
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;

    &__header {
        @extend .row;
        flex-wrap: nowrap;
        margin: 0;


    }

    .invoiceInfo {
        font-weight: bold;
        // text-align: center;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        

        &__id {
            @extend .invoiceInfo;
            @extend .col-md-1;
            flex-wrap: nowrap;

        }

        &__net {
            @extend .invoiceInfo;
            @extend .col-md-2;
            flex-wrap: nowrap;

        }

        &__tax {
            @extend .invoiceInfo;
            @extend .col-md-1;
            flex-wrap: nowrap;

        }

        &__gross {
            @extend .invoiceInfo;
            @extend .col-md-2;
            flex-wrap: nowrap;

        }

        &__total {
            @extend .invoiceInfo;
            @extend .col-md-2;
            flex-wrap: nowrap;

        }

        &__payed {
            @extend .invoiceInfo;
            @extend .col-md-2;
            flex-wrap: nowrap;
    
        }

        &__create_at {
            @extend .invoiceInfo;
            @extend .col-md-2;
            flex-wrap: nowrap;
            white-space: nowrap;

        }

    }


}

.list {
    list-style-type:none;
    margin: 0;
    padding:0;
    border: 1px solid #ccc;
    min-height: 120px;
    min-width: 520px;


}
