@import "~bootstrap/scss/bootstrap";

.listItem {
    @extend .row;
    height: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    margin-left: 0px;
    width: 100%;
    flex-wrap: nowrap;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;


    &:hover {
        background-color: #ccc;
    }

    .invoiceInfo {

        &__id {
            @extend .col-md-1;
        }
        &__net {
            @extend .col-md-2;

        }
        &__tax {
            @extend .col-md-1;

        }
        &__gross {
            @extend .col-md-2;

        }
        &__total {
            @extend .col-md-2;

        }
        &__payed {
            @extend .col-md-2;

        }
        &__create_at {
            @extend .col-md-2;

        }


    }
}