@import "~bootstrap/scss/bootstrap";

.wrapper {
    &_row {
        display: flex;
        // flex-direction: column;
        &__list { 
            margin-top:10px;

        }

    }
    &_col {
        &__thumb {
        // display: flex;
        // flex-direction: column;;
        // justify-content: center;
        // align-items: center;
        flex-grow: 1;

        }
        &__form {
            flex-grow:3;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        .text {
        font-weight: bold;
        font-size: 30px; 
        }
    }
}