@import "~bootstrap/scss/bootstrap";

.wrapper {
    @extend .col-md-8;
    margin-top: 20px;
    .list {
        padding: 0;
    }
}


@media (max-width: 1020px) {
    .wrapper {
        position: absolute;
        top: 250px;
    }
}